<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CroixAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png">
    <style>
        #context-container {
            margin-top: 50px; /* Move the context container down by 50px */
        }
        .ranking-container {
            margin-top: 10px;
            text-align: center;
        }
        .ranking-button {
            margin: 0 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    {% if current_user.is_authenticated %}
        <button onclick="window.location.href='{{ url_for('dashboard') }}'">Dashboard</button>
        <button onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
    {% else %}
        <button onclick="window.location.href='{{ url_for('login') }}'">Login</button>
        <button onclick="window.location.href='{{ url_for('register') }}'">Register</button>
    {% endif %}
    
    <button class="design-button" onclick="window.location.href='/diagram'">Design</button>
    <div id="context-container">
        <!-- Updated to handle multiple contexts -->
    </div>
    <svg id="croixai-svg" viewbox="0 0 100 20">
        <defs>
            <linearGradient id="gradient">
                <stop color="#000"/>
            </linearGradient>
            <pattern id="wave" x="0" y="-0.5" width="100%" height="100%" patternUnits="userSpaceOnUse">
                <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                    <animateTransform
                        attributeName="transform"
                        begin="0s"
                        dur="1.5s"
                        type="translate"
                        from="0,0"
                        to="40,0"
                        repeatCount="indefinite" />
                </path>
            </pattern>
        </defs>
        <text text-anchor="middle" x="50" y="15" font-size="17" fill="white" fill-opacity="0.4">CroixAI</text>
        <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="1">CroixAI</text>
    </svg>

    <form id="questionForm">
        <input type="text" id="query" name="query" placeholder="Ask a question..." required>
        <button class="button-86" type="submit">
            Ask
            <div class="loader" id="loader" style="display: none;"></div>
        </button>
    </form>

    <div id="response-container" style="display: none;">
        <p id="response"></p>
        {% if current_user.is_authenticated %}
        <div class="ranking-container">
            <p>How relevant was this response?</p>
            <div class="ranking-buttons">
                <button class="ranking-button" data-rank="1">1</button>
                <button class="ranking-button" data-rank="2">2</button>
                <button class="ranking-button" data-rank="3">3</button>
                <button class="ranking-button" data-rank="4">4</button>
                <button class="ranking-button" data-rank="5">5</button>
            </div>
            <p class="ranking-labels">
                <span>Not Relevant</span>
                <span>Very Relevant</span>
            </p>
        </div>
        {% endif %}
    </div>

    <script>
        document.getElementById('questionForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var query = document.getElementById('query').value;

            document.getElementById('loader').style.display = 'grid';
            document.getElementById('response').innerHTML = '';
            document.getElementById('response-container').style.display = 'none';

            fetch('/ask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'query=' + encodeURIComponent(query)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('loader').style.display = 'none';
                document.getElementById('response').innerHTML = data.response;
                document.getElementById('response-container').style.display = 'block';
                document.getElementById('croixai-svg').style.display = 'none';

                var contextContainer = document.getElementById('context-container');
                contextContainer.innerHTML = '';

                console.log('Raw contexts:', data.contexts);

                const filteredContexts = data.contexts.filter(item => item.score > 0.3).slice(0, 5);

                filteredContexts.forEach((item, index) => {
                    var contextText = 'Context ' + (index + 1) + ': ' + item.context + ' (Similarity Score: ' + item.score.toFixed(3) + ')';
                    var contextElement = document.createElement('p');
                    contextElement.textContent = contextText;
                    contextContainer.appendChild(contextElement);
                });

                document.getElementById('response-container').dataset.responseId = data.id;

                {% if current_user.is_authenticated %}
                document.querySelectorAll('.ranking-button').forEach(button => {
                    button.disabled = false;
                    button.style.backgroundColor = '';
                });
                {% endif %}
            })
            .catch((error) => {
                document.getElementById('loader').style.display = 'none';
                console.error('Error:', error);
            });
        });

        {% if current_user.is_authenticated %}
        document.querySelectorAll('.ranking-button').forEach(button => {
            button.addEventListener('click', function() {
                const rank = this.dataset.rank;
                const responseId = document.getElementById('response-container').dataset.responseId;

                fetch('/rank', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({id: responseId, ranking: rank})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        document.querySelectorAll('.ranking-button').forEach(btn => {
                            btn.disabled = true;
                            btn.style.backgroundColor = '';
                        });
                        this.style.backgroundColor = '#83b0ae';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
        {% endif %}
    </script>
</body>
</html>
